.field {
    padding: 10px 0;
    text-align: left;
  
    &__label {
      text-transform: capitalize;
      padding-bottom: 20px;
      color: var(--green);
      font-weight: 600;
    }
  
    &__input {
      margin: 5px 0;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid var(--green);
      color: var(--blue);
      box-sizing: border-box;
      border-radius: 10px;
    }
  
    &__error {
      color: var(--red);
    }
  }