* {
    margin: 0;
    padding: 0;
}
.cart-container {
    width: 60%;
    margin: auto;
}

.cart-box img {
    width: 100px;
    height: 100px;
}

.cart-img {
    display: flex;
    width: 500px;
}

.cart-img p {
    font-weight: bold;
    margin-left: 10px;
}

.cart-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
}

.cart-box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
}

.cart-box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline:  none;
    color: white;
    background-color: rgb(13, 154, 209);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 8px;
}

