@import url(./global.css);
@import url(./Header.css);
@import url(./Sidebar.css);
@import url(./Body.css);
@import url(./Footer.css);
.layout {
    width: 1024px;
    margin: 15px auto;
}

.containerItem {
    width: calc(25% - 75px/ 4);
    height: 180px;
    border-radius: 10px;
    border: 2px solid var(--primary);
    padding: 15px;
}

.containerItem__title,
.containerItem__status,
.containerItem__description > p:first-child {
    font-weight: bold;
}

.containerItem__status {
    color: var(--new);
}

.containerItem__lineBreak {
    height: 2px;
    background: var(--primary);

}
.containerItem__description > p:last-child {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:  vertical;
}

.containerItem  button {
    width: 80px;
    height: 30px;
    background-color: yellowgreen;
    color: white;
    margin-left: 40px;
    border: none;
    border-radius: 5px;
}



