.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 120px;
    
}

.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.product-header span {
    position: absolute;
    right: 14px;
    top: 3px;
}
.product-header .icon {
    width: 70px;
    font-size: 1.8rem;

}